<head>
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?" type="image/x-icon">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/icon-192x192.png">
  <link rel="shortcut icon" sizes="192x192" href="{{ site.baseurl }}/icon-192x192.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/icon-192x192.png">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content={{ site.theme_color | default: "#15787" }}>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <title>My Meditation Time</title>
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <img class="pictureLogo" src="{{ page.image | default: site.logo }}"
      alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name" />
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    {% if site.github.is_project_page %}
    <a href="https://www.facebook.com/meditationwithamanohilot" target="new" class="btn">Facebook</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
  </header>
  <main id="content" class="main-content" role="main">
    {{ content }}
    <div>
      <div id="jsScroll" className="scroll" onClick="scrollToTop">
        <img className="fa fa-angle-up" src="{{ site.baseurl }}/assets/top-button.png" alt="" />
      </div>
    </div>
    <footer class="site-footer">
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        est maintenu par <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>

      {% if site.show_feedback %}
      <li>
        <a class="email" title="Faites moi part de vos retours" href="#"
          onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.uistring.feedback_subject_line}} feedback&body=J\'ai quelques commentaires concernant {{page.title}} : ' + window.location.href;">
          <img class="envelope" src="{{ site.baseurl }}/assets/envelope.svg" />
      <li>
        {% endif %}
    </footer>
    <br />
   <div class="copyright">
      {% if site.copyright %}
      <p>{{site.copyright}}</p>
      {% endif %}
   </div>
  </main>
  <script>
    window.addEventListener("scroll", (e) => {
      var el = document.getElementById("jsScroll");
      if (window.scrollY > 400) {
        el.classList.add("visible");
      } else if (window.scrollY < 400) {
        el.classList.remove("visible");
      }
    });

    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    }

  </script>
</body>

</html>
